:root{
    --background-color: black;
    --border-color: white;
    --maxHeight: 375px;
    --color: white;
    --font-family: 'Baloo Bhai', cursive;
}

body{
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gameName{
    color: blue;
    font-weight: bold;
    font-size: 80px;
    margin: 50px;
    text-align: center;
}

.game-body{
    
    width: 508px;
    height: var(--maxHeight);
    margin: 150px auto;
    margin-bottom: 0px;
}

.guess-zone,
.game-body,
.display-zone
{
    border-style: dashed;
    border-color: var(--border-color);
    border-width: 2px;
}

.guess-zone,
.display-zone{
    float: left;
    width: 250px;
    height: var(--maxHeight);
}

.text{
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.center{
    margin: 5px;
}

#game-img{
    width: 240px;

}